/*@media screen and (min-width: 992px) {*/
    #birthdaymessage
	{
		font-family:'Lato', sans-serif;
		height:100%;
		color:black!important;
	}

	#backgroundvid
	{
		width:100%;
		position:absolute;
		height:100%;
		overflow:hidden;
	}

	#bgvid
	{
		width:100%;
		left: 50%;
    	position: absolute;
    	transform: translate(-50%, 0%);
	}
	#bgvid.center { margin: 0 auto; }
	div.overlay
	{
		float:left;
    	width:100%;
    	min-height:100%;
    	background:rgba(0,0,0,0.7);
    	z-index:3000;
    	text-align:center;
    	padding-top:
	}
	#hbd
	{
		width:100%;
		height:auto;
	}

	#messagepage
	{
		/*background-image:url('../img/greenbg.jpg');*/
		background-color:#ffffff;
		
	}
	#lastpage
	{
		background-image:url('../img/greenbg.jpg');
		background-repeat: no-repeat;
		background-size:cover;
	}


body { margin: 20px; }

.marquee {
  height: 70%;
  width: 260%;

  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 265%;
  height: 100%;

  position: absolute;
  overflow: hidden;

  animation: marquee 20s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -150%; }
}