@media screen and (max-width: 767px) {
	
    div.overlay
    {
        position:absolute;
        float:left;
        width:100%;
        min-height:50vh;
        background:rgba(0,0,0,0.7);
        z-index:3000;
        text-align:center;
    }
    #bgvid
    {
        height:50vh!important;
        width:auto;
    }
    #bgvid.center { margin: 0 auto; }

    
    .section
    {height:50vh!important;}
    

}
